*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    box-sizing: border-box;
    --primary:#142c38;
    --secondary:#264453;
    --letter: #ffffff;
    --first:#f0fafb;
    --second:#d9f0f4;
    --third:#85cbdb;
    --fourth:#4aacc4;
    --fifth:#3090aa;
    --sixth:#2b768f;
    overflow-x: hidden;
}
nav{
    background-color: var(--primary);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
nav ul{
    display: flex;
    width: 400px;
    justify-content: space-between;
    
}
nav ul li{
    list-style: none;   
    padding: 13px;
    border-radius: 25px;
    color: var(--letter);
    overflow: hidden;
}
nav ul li:hover{    
    cursor: pointer;
    background-color: var(--secondary);
}
.hidden-nav{
    width: 425px;
    height: 500px;
    background-color: var(--secondary);
    color: var(--letter);
    position: absolute;
    top: 80px;
    z-index: 15;
    left: -425px;
    
}
.foot-whithin{
    display: flex;
    gap: 10px;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.hidden-nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--letter);
    gap: 15px;
}
.hidden-nav ul li{
    list-style: none;
    text-decoration: none;
    color: var(--letter);
    line-height: 35px;
    font-size: 25px;
}
.carrousel{
    width: 100%;
    max-width: 120em;
    transition: all .5s ease;
    transform: translate(0%);
 
}
.carrousel .grande{
    display: flex;
    width: 300%;
    height: 500px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;    
    overflow-y: hidden;
}
.carrousel .grande div{
    width: calc(100%/3);
}
#data-analitics{
    background-image: url('./img/Big-data-analytics-solutions.jpg');
    width: 100%;
    height: 500px;
    background-size:cover;
    overflow: hidden;
    
}
#data-management{
    background-image: url('./img/datamanagement.jpg');
    background-size:cover ;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
#data-science{
    background-image: url('./img/datascience2.png');
    width: 100%;
    height: 500px;
    background-size:cover   ;
    overflow: hidden;
}
#data-analitics h2,#data-management h2, #data-science h2{
    position: relative;
    line-height: 50px;
    font-size: 40px;
    overflow: hidden;
    color: var(--letter);
    top: 10%;
    left: 5%;
}
#data-analitics p,#data-management p, #data-science p{
    position: relative;
    line-height: 40px;
    width: 60%;
    margin-top: 5%;
    background-color: var(--first);
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    opacity: 0.6;
    font-size: 30px;
    overflow: hidden;
    color: var(--primary);
    top: 10%;
    left: 5%;
}
.punteros{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: absolute;
    bottom: 2px;
}
.puntos{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: var(--letter);
    border-radius: 50%;
}
.puntos.activo{
    background-color: rgb(47, 224, 255);
}
.origen{
    padding: 15px 15px;
    overflow: hidden;
    width: 100%;
    height: 450px;
    background-image: url('./img/historia.png');    
    background-size: cover;
    display: flex;
    justify-content: space-between;    
}
.origen div{
    width: 50%;
    padding: 10px 5px;
}
.origen div h1{
    overflow: hidden;
    color: var(--letter);
}
.origen div p{
    overflow: hidden;
    width: 80%;
    color: var(--letter);
    font-weight: bold;
}
footer{
    background-color: var(--primary);
    display: flex;
    overflow: hidden;
    color: black;
    gap: 10px;
    align-items: center;
}
footer h3{
    overflow: hidden;
    text-shadow: #ffffff 1px 1px 2px;
    font-weight: bold;
}
footer h4{
    overflow: hidden;
    text-shadow: #ffffff 1px 1px 2px;
    font-weight: bold;
}
footer p{
    overflow: hidden;
    text-shadow: #ffffff 1px 1px 2px;
    font-weight: bold;
}
footer .social-media{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    gap: 25px;
    align-items: center;
}
footer .social-media img{
    width: 40px;
}
iframe{
    border-radius: 5px;
}
.works-class{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}
.powerbi{
    width: 90%;
    display: flex;    
    align-items: center;
    padding: 1% 5%;
    gap: 5px;
    margin-top: 5px;
    background-image: linear-gradient(135deg,var(--second),var(--primary));
    border-radius: 5px;
}
.powerbi div{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.powerbi div p{
    overflow: hidden;
    color: var(--letter);
    text-shadow: 2px 2px 2px var(--secondary);
    font-size: 18px;
    padding-left: 13px;
}
.powerbi div h2{
    overflow: hidden;
    color: var(--letter);
    text-shadow: 2px 2px 2px var(--secondary);
    height: 40px;
    font-size: 30px;
    padding-left: 13px;
}
.powerbi iframe{
    width:560px;
    height:315px;
    border: 1.5px solid var(--primary);
    box-shadow: 2px 2px 2px var(--secondary);;
}
.advisory{
    background-image: url('./img/advisory.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 500px;
    margin-bottom: 5px;
    overflow: hidden;
}
.advisory p{
    position: relative;
    right: -45px;
    top: -200px;
    width: 400px;
    height: 300px;
    font-weight: bold;
    font-size: 25px;
    text-shadow: lightblue 1px 1px 2px;
    overflow: hidden;
}
.advisory h2{
    position: relative;
    height: fit-content;
    top: -230px;
    left: 680px;
    font-size: 100px;
    text-shadow: lightblue 1px 1px 2px;
    overflow: hidden;
}
.adv-bg{
    width: 500px;
    height: 300px;
    background-color: lightblue;
    border-radius: 10px;
    opacity: 0.5;
    position: relative;
    right: -20px;
    top: 50px;
}
.advisory-details{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1px 3px;
}
.advisory-details div{
    width: 30%;
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
    
}
.advisory-details div p{
    overflow: hidden;
    height: 40%;
}
.advisory-details div h3{
    overflow: hidden;
    height: 30px;
}
.advisory-details div ul li{
    overflow: hidden;
    list-style:circle;
    padding-left: 15px;
    height: 25px;
}
#auditoria{
    border: 5px solid var(--fourth);
    background-color: var(--second);
}
#ciberseguridad{
    border: 5px solid var(--third);
    background-color: var(--second);
}
#consultoria{
    border: 5px solid var(--fifth);
    background-color: var(--second);
}
#auditoria p, #ciberseguridad p, #consultoria p{
    padding: 10px 15px;
    font-weight: bold;
    background-color: var(--second);
}
#auditoria h3{
    background-color: var(--fourth);
    font-size: 30px;
    color: var(--letter);
    text-shadow: black 2px 2px 2px;
}
#ciberseguridad h3{
    background-color: var(--third);
    font-size: 30px;
    color: var(--letter);
    text-shadow: black 2px 2px 2px;
}
#consultoria h3{
    background-color: var(--fifth);
    font-size: 30px;
    color: var(--letter);
    text-shadow: black 2px 2px 2px;
}
#auditoria h3, #ciberseguridad h3, #consultoria h3{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#auditoria ul, #ciberseguridad ul, #consultoria ul{
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    background-color: var(--second);
    
    
}
.us{
    height: 400px;
    width: 100%;
    background-image: url('./img/who.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.us::before {
    content: "";
    width: 100%;
    min-height: 400px;
    margin-top: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(162, 0, 255), orange);
    opacity: 0.5;
}
.us div{
    position: relative;
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
    color: var(--letter);
}
.us div h2{
    height: 30px;
    font-size: 30px;
    overflow: hidden;
}
.us div h1{
    height: 100px;
    overflow: hidden;
    font-size: 40px;
}
.us div p{
    height: 90px;
    font-weight: bold;
}
.about{
    height: 400px;
    display: flex;
    background-image: url('./img/dotsquare.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.about div{
    width: 50%;
    height: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about div img{
    width: 80%;
}
.about div p{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    line-height: 32px;
    color: var(--secondary);
}
.exp{
    height: 400px;
    width: 100%;
    overflow: hidden;
}
#ref{
    position: relative;
    display: flex;
    justify-content: space-around;    
    z-index: 10;   
    margin-top: 5%; 
}
#ref div{
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ref div h3{
    font-size: 50px;
    overflow: hidden;
    color: var(--primary);
}
#ref div p{
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: var(--secondary);
}
#ref div ul{
    margin-top: 5%;
    padding-left: 5%;
    margin-left: 5%;
    line-height: 24px;
    color: var(--secondary);
}
.numeros{
    width: 100%;
    height: 500px;
    background-image: url('./img/awsomeBG.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.numeros div{
    position: relative;
    margin-top: 5%;
    margin-left: 4%;
    width: 70%;
    color: var(--letter);
}
.numeros div h2{
    font-size: 35px;
    line-height: 55px;
}
.numeros div p{
    font-size: 25px;
    line-height: 35px;
}
.asesoramiento{
    height: 500px;
    width: 100%;
    background-image: url('./img/dotsquare.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    gap: 5%;
    color: var(--secondary);
}
.asesoramiento h2{
    height: 45px;
    font-size: 35px;
    margin-bottom: 2%;
}
.asesoramiento p{
    width: 70%;
    line-height: 28px;
    font-size: 20px;
    font-weight: bold;
}
.auditoria{
    height: 400px;
    width: 100%;
    background-image: url('./img/dotsquare.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    gap: 5%;
    color: var(--secondary);
    display: flex;
    align-items: center;
}
.aud-tec{
    width: 55%;
}
.aud-tec h2{
    font-size: 30px;
    height: 40px;
}
.aud-tec p{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}
.aud-img{
    width: 45%;
}
.aud-img img{
    width: 95%;
    box-shadow: #142c38 5px 5px 5px;
}
.inspeccion{
    height: 500px;
    width: 100%;
    background-image: url('./img/ai-generated-8675586_1280.jpg');
    background-size: cover;
}
.inspeccion div{
    width: 60%;
    margin: 2% 5%;
    color: var(--letter);
}
.inspeccion h2{
    font-size: 30px;
    line-height: 40px;
    width: 80%;
    text-shadow: 2px 2px 2px var(--primary);
    margin-bottom: 15px;
}
.inspeccion div p{
    line-height: 25px;
    width: 80%;
    font-weight: bold;
    text-shadow: 2px 2px 2px var(--primary);
}
.aseguramiento{
    height: 500px;
    width: 100%;
    background-image: url('./img/dotsquare.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    gap: 5%;
    color: var(--secondary);
    display: flex;
    align-items: center;
}
.aseguramiento div h2{
    height: 100px;
    width: 80%;
    font-size: 30px;
}
.aseguramiento div p{
    height: 100px;
    width: 90%;
    font-weight: bold;
}
.aseg-img img{
    width: 100%;
    box-shadow: 2px 2px 2px var(--primary);;
}
.powerapps{
height: 500px;
width: 100%;
background-image: url('./img/powerappbg.png');
background-repeat: no-repeat;
background-size: cover;
padding: 5%;
gap: 5%;
color: var(--secondary);
display: flex;
align-items: center;
}
.powerbi-info{
height: 500px;
width: 98%;
background-image: url('./img/powerbi2.jpg');
background-repeat: no-repeat;
background-size: cover;
padding: 5%;
gap: 5%;
color: var(--letter);
text-shadow: 2px 2px 2px var(--primary);
display: flex;
align-items: center;
margin-top: 5px;
}
.powerbi-info div,.powerapps div,.app-web div{
    width: 55%;
    height: 90%;
    overflow: hidden;
}
.powerbi-info div h2,.powerapps div h2,.app-web div h2{
    line-height: 40px;
    font-size: 30px;
    margin-bottom: 2%;
}
.powerbi-info div p,.powerapps div p,.app-web div p{
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
}
.app-web{
    height: 500px;
    width: 100%;
    background-image: url('./img/appwebbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    gap: 5%;
    color: var(--letter);
    display: flex;
    align-items: center;
}
#uno{
    width: 45%;
    
}
#uno img{
    width: 95%;
    box-shadow: 4px 4px 12px var(--third);
}
@media (max-width:768px) {
    #consultoria h3,#auditoria h3, #ciberseguridad h3{
        font-size: 20px;
    }
    #auditoria p, #ciberseguridad p, #consultoria p{
        padding: 3px 10px;
        font-size: 13px;
    }
    .advisory-details{
        height: 500px;
    }
    .advisory-details div ul li{
        overflow: hidden;
        font-size: 13px;
        line-height: 23px;
    }
    .advisory p{
        font-size: 20px;
        width: 400px;
        height: 200px;
    }
    .advisory h2{
        top: -150px;
        left: 180px;
        font-size: 100px;
    }
    .adv-bg{
        width: 440px;
        height:250px;
    }
    .origen div h1{
        font-size: 20px;
    }
    .origen div p{
        font-size: 14px;
        width: 100%;
    }
    #data-analitics p,#data-management p, #data-science p{
        width: 90%;
    }
    #text{
        width: 60%;
    }
    #img{
        width: 40%;
    }
    #img img{
        width: 100%;
    }
    #ref div h3{
        font-size: 20px;
    }
    .numeros div p{
        font-size: 20px;
        text-shadow: 2px 2px 2px var(--primary);
    }
    .asesoramiento p{
        width: 90%;
        font-size: 17px;
    }
    .powerbi,.auditoria{
        flex-direction: column;
    }
    .powerbi div{
        width: 100%;
        margin-bottom: 4%;
    }
    .aud-tec{
        width: 100%;
    }
    .aud-tec h2{
        font-size: 18px;
        overflow: hidden;
    }
    .aud-tec p{
        font-size: 14px;
        overflow: hidden;
    }
    .inspeccion div{
        width: 95%;
    }
    .inspeccion h2{
        width: 100%;
    }
    .inspeccion div p{
        width: 90%;
        margin-top: 5%;
    }
    .aseguramiento div h2{
        font-size: 18px;
    }
    .aseguramiento div p{
        font-size: 15px;
        height: 120px;
    }
    .powerbi-info{
        display: flex;
        flex-direction: column;
    }
    .powerbi-info div{
        width: 100%;
    }
    .powerbi-info div p{
        font-size: 12px;        
    }
    #uno{
        width: 65%;
    }
    .powerapps div{
        width: 100%;
    }
    .app-web div{
        width: 100%;
    }
}
@media (max-width:425px) {
    #consultoria,#auditoria, #ciberseguridad{
        width: 90%;
        height: 200px;
    }
    #consultoria h3,#auditoria h3, #ciberseguridad h3{
        font-size: 20px;
        height: 30px;
    }
    #auditoria p, #ciberseguridad p, #consultoria p{
        padding: 2px 5px;
        font-size: 12px;
    }
    .advisory-details{
        height: 700px;
        flex-direction: column;
    }
    .advisory-details div ul li{
        overflow: hidden;
        font-size: 12px;
        line-height: 22px;
    }
    .advisory p{
        font-size: 20px;
        left: 22px;
        width: 400px;
        height: 200px;
    }
    .advisory h2{
        top: -150px;
        left: 100px;
        font-size: 50px;
    }
    .adv-bg{
        width: 400px;
        height:250px;
    }
    #footer{
        flex-direction: column;
    }
    #footer a img{
        height: 30px;
        margin-top: 5px;
    }
    #footer div{
        width: 100%;
        padding-left: 5%;
    }
    footer .social-media{
        width: 100%;
        height: 100px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    footer .social-media a img{
        width: 30px;
    }
    #data-analitics h2,#data-management h2, #data-science h2{
        width: 90%;
        font-size: 25px;
    }
    #data-analitics p,#data-management p, #data-science p{
        width: 90%;
        font-size: 15px;
    }
    #laimghist{
        display: none;
    }
    #origenhist{
        width: 90%;
    }
    #origenhist img{
       display: none;
    }
    .origen div h1{
        font-size: 25px;
        text-shadow: 2px 2px 2px #ED7D31;
    }
   .origen div p{
        text-shadow: 2px 2px 2px #ED7D31;
    }
    .us div{
        width: 100%;
    }
    .us div h1{
        width: 100%;
        font-size: 25px;
    }
    .about #img{
        display: none;
    }
    .about #text{
        width: 100%;
    }
    .exp{
        height: fit-content;
    }
    #ref{
        flex-direction: column;
        height: 700px;
    }
    #ref div{
        width: 100%;
    }
    #ref div h3{
        font-size: 20px;
    }
    .numeros div{
        width: 100%;
    }
    .numeros div h2{
        width: 95%;
        font-size: 25px;
        text-shadow: 2px 2px 2px var(--primary);
    }
    .numeros div p{
        width: 95%;
        font-size: 15px;
        text-shadow: 2px 2px 2px var(--primary);
    }
    .asesoramiento h2{
        width: 95%;
        font-size: 20px;
    }
    .asesoramiento p{
        width: 99%;
        font-size: 12px;
    }
    .powerbi iframe{
        width: 95%;
    }
    .powerbi,.auditoria{
        flex-direction: column;
    }
    .powerbi div{
        width: 100%;
        margin-bottom: 4%;
    }
    .powerbi div p{
        font-size: 14px;
    }
    .auditoria{
        height: fit-content;
    }
    .aud-img{
        display: none;
    }
    .aud-tec{
        width: 100%;
        height: fit-content;
    }
    .aud-tec h2{
        font-size: 20px;
        overflow: hidden;
    }
    .aud-tec p{
        font-size: 14px;
        overflow: hidden;
    }
    .inspeccion div{
        width: 100%;
    }
    .inspeccion h2{
        width: 100%;
        font-size: 20px;
    }
    .inspeccion div p{
        width: 425px;
        margin-left: 1px;
        margin-top: 5%;
        font-size: 14px;
    }
    .aseg-img{
        display: none;
    }
    .aseguramiento{
        height: fit-content;
    }
    .aseguramiento div{
        width: 425%;
        height: fit-content;
    }
    .aseguramiento div h2{
        width: 100%;
        font-size: 20px;
    }
    .aseguramiento div p{
        font-size: 15px;
        height: fit-content;
        width: 100%;
    }
    .powerbi-info{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .powerbi-info div{
        width: 100%;
    }
    .powerbi-info div p{
        font-size: 12px;        
    }
    #uno{
        display: none;
    }
    .powerapps{
        height: fit-content;
    }
    .powerapps div{
        width: 100%;
    }
    .app-web{
        height: fit-content;
    }
    .app-web div{
        width: 100%;
    }
}